.container
  #body
    .row
      .eight.columns
        %h3 1. Choose your seats
        %hr/
        #wrap
          .clear
          #canvas
    
      %span
      .four.columns
        %h3 2. Confirm
        %hr/
        -# BACKBONE VIEW
        #seat_chooser 
      
      .four.columns.right
        %h3 3. Checkout
    
        %hr/

        -# BACKBONE VIEW
        #checkout
          %span
            %h4
              Total
              %span{:style => 'float:right'}
                .total $0.00
        
  
          %a.button Cash
          %a.button Card
          %a.button Paypal
    
