.container


          
  .row
    .seven.columns
      #wrap
        .clear
        #canvas
    .five.columns
      #seat_chooser
        %h1 Jammin Java
        %h2 Seat Chart
      
        %ul.stacked_list
          -10.times do
            %li Choose a seat