.span9.offset2
  
  %h1
    Welcome to ThinTix 
    %sub alpha
  %hr/
  
  %h3
    Updates
    %sub now available!
  %ul
    %li 
      %strong 10/17/2012 
      Drag and drop to reorder Sidebar Widgets
      =link_to 'Content > Sidebars', sidebars_path
    %li 
      %strong 10/16/2012 
      Edit page themes. in
      =link_to 'Content > Themes', themes_path 
      
  %hr/
  
  %h3 
    Upcoming 
    %sub 1-2 wks
    
  %ul
    %li Cart
    %li Checkout
    %li Email Tix
    %li Box office interface
    %li Dashboard
    %li Reports
    %li Email Reports
    %li Coupon / Discount Codes
    %li Custom domain names
    %li Custom SSL
  
  %hr/
  
  
  %h3 
    Roadmap
    %sub > 2 wks
  %ul
    %li SEO
    %li Custom permalinks
    %li Page map
    %li Early "preview" links