.span9.offset2
  
  %h1
    Welcome to ThinTix 
    %sub alpha
  %hr/
  
  %h3
    Updates
    %sub now available!
    
  %ul
    %li 
      %strong 10/30/2012 
      Custom permalinks
      
    
    %li
      %strong 10/29/2012 
      Email Tix
    
    %li 
      %strong 10/27/2012 
      Editable Image Carousels
    %li 
      %strong 10/27/2012 
      Complete checkout 
    
    %li 
      %strong 10/25/2012 
      Can now disable event title if redundant [Feature Request]. Bug fixes: show times, supporting act social links.
    %li 
      %strong 10/24/2012 
      Checkout
    %li 
      %strong 10/22/2012 
      Add seats to cart
      
    %li 
      %strong 10/18/2012 
      Orders, tickets schema complete
    %li 
      %strong 10/18/2012 
      Edit Chart, Chart Render with Labels, Edit Prices, Tooltip.
      =link_to 'Charts', charts_path
      
    %li 
      %strong 10/17/2012 
      Drag and drop to reorder Sidebar Widgets.
      =link_to 'Content > Sidebars', sidebars_path
    %li 
      %strong 10/16/2012 
      Edit page themes.
      =link_to 'Content > Themes', themes_path 
      
  %hr/
  
  %h3 
    Upcoming 
    %sub 1-2 wks
    
  %ul
    %li Custom domain names
    %li Custom SSL
    
    %li Map old URLs 
    %li Box office interface
    %li Dashboard
  
  %hr/
  
  
  %h3 
    Roadmap
    %sub > 2 wks
  %ul
    %li Override the off sale time should show be longer than three hours    
    %li Coupon / Discount Codes
    
    %li Reports
    %li Email Reports
    %li SEO
    %li Page map
    %li Early "preview" links