.columns.sixteen

    
.clear
.row
  .span9
    .widget
      .widget-header
        %h3 Live Stats
      .widget-content
        -3.times do 
          .span2
            %h4 Average Order Amount
            %h3 $46.65


          .span2
            %h4 Best Day Ever
            %h3$490,343

          .span2
            %h4 Average Order Amount
            %h3 32/30
    

    .row
      .span3
        .widget
          .widget-header
            %h3 Top Shows 
          .widget-content

            %ul
              -#-unless @current_account.events.nil?
              -#  -5.times do
              -#    //%li= @current_account.random(:events).title
      .span3
        .widget
          .widget-header
            %h3 Top Artists
          .widget-content

            %ul
              -#-5.times do
              -#  -art = @current_account.random(:artists)
              -#  %li= link_to art.name, art

      .span3.last
        .widget
          .widget-header
            %h3 Top Seats
          .widget-content
            %ul
              %li General Admission
              %li General Admission
              %li General Admission
              %li Bar - BAR-1
              %li VIP - V22
              %li Seated - A3





  .span3
    .widget
      .widget-header
        %h3 Order Stream
      .widget-content
        %ul
          -10.times do |i|
            %li{:style => "color:  ##{( 0x000000 + (i * 0x111111)).to_s(16) }"}
              %strong Shaun Robinson
              =%w(grabbed got bought purchased copped)[rand(6)]
              %strong
                =rand(10)+1
              tickets
              to 
              -#%strong=@current_account.random(:event).title






    
    
