-content_for :title do
  My Orders
  
%h1="#{@current_user.first_name}'s Orders"
%br/

=render :partial => 'front/orders/list', :locals => { :orders => @orders }

%hr.red-thin


%p 
  %strong Note:
  We launched a new website and ticketing system in Late 2012.
  Prior purchase history for your account is available by contacting
  %strong
    =succeed '.' do
      =link_to 'tickets@jamminjava.com', '#'