

.row
  .span6
    .row
      %h1 Cart
      
    .row
      -@order.tickets.each do |ticket|
        .span2{:style => "background-color: rgba(255,255,255,.3); padding: 3px; margin: 3px" }
          %h3 Event
          =ticket.event.name
          %h3 Section
          =ticket.area.section.label
          %h3 Seat
          =ticket.area.label
          %h3 Seat
          =number_to_currency ticket.base_price
          ="+"
          =number_to_currency ticket.service_charge
          ="="
          =number_to_currency ticket.total
        
        

  .span6
    %h1 Sign in
    %h4 What is your email address?
    %input.full{:name => "user_type", :placeholder => "My email is...", :type => "text"}
      .clear
      %input{:name => "user_type", :type => "radio"}
        No, I am a new customer
        %br
          %input{:name => "user_type", :type => "radio"}
            Yes, I have a password
            %input.full{:name => "user_type", :placeholder => "Password", :type => "password"}
              %hr
                %h1 Sign Up
                %h4 Create a password
                %input.full{:name => "user_type", :placeholder => "Password", :type => "password"}
                  %h4 Your Name
                  .alpha.col.g3
                    %input.half{:placeholder => "First", :type => "text"}
                  .col.g3.omega
                    %input.half{:placeholder => "Last", :type => "text"}
                  %hr
                    %h2 Payment
                    %h4 Method
                    .clear
                    %input{:name => "payment_method", :type => "radio"}
                      Visa
                      %br
                        %input{:name => "payment_method", :type => "radio"}
                          Amex
                          %br
                            %input{:name => "payment_method", :type => "radio"}
                              MasterCard
                              %br
                                %input{:name => "payment_method", :type => "radio"}
                                  PayPal
                                  %br
                                    %input{:name => "payment_method", :type => "radio"}
                                      Discover
                                      .clear
                                      Details
                                      %h4 Card Number
                                      %input.half{:placeholder => "Card No", :type => "text"}
                                        %h4 Security Code (CVV)
                                        %input.half{:placeholder => "CVV", :type => "text"}
                                          %h4 Name on Card
                                          .alpha.col.g3
                                            %input.half{:placeholder => "First", :type => "text"}
                                          .col.g3.omega
                                            %input.half{:placeholder => "Last", :type => "text"}
                                          %h4 Billing Address
                                          %input.full{:placeholder => "Phone", :type => "text"}
                                            %input.full{:placeholder => "Address 1", :type => "text"}
                                              %input.full{:placeholder => "Address 2", :type => "text"}
                                                .alpha.col.g3
                                                  %input.half{:placeholder => "City", :type => "text"}
                                                .col.g3.omega
                                                  %input.half{:placeholder => "State", :type => "text"}
                                                .alpha.col.g3
                                                  %input.half{:placeholder => "Zip", :type => "text"}
                                                .col.g3.omega
                                                  %input.half{:placeholder => "Country", :type => "text"}
                                                %hr
                                                  %h2 Ticket Delivery
                                                  %h3 Your tickets have been delivered via email.
                                                  %h4 Want 'em by text message too?
                                                  %input.full{:placeholder => "(703) 555 1212", :type => "text"}
                                                    %button Send Tickets Via SMS »