.row
  .span12
  
    -if @order.transactions.last.success?
      %h1 Success! Transaction successful.
      
      
    =@order.transactions.last.message
    
    %h3="Order ##{@order.id}"
    %p
      ="Placed by #{@order.first_name} at #{@order.created_at.to_formatted_s}"

    
  
=render :partial => 'tickets/tickets', :locals => {:tickets => @order.tickets, :show_artwork => false}