-content_for :title do
  Success » Order




.order-success
  .row
    .span12
      .row
        .span6
          %h1 Success!
        
          %p
            Check your email! Your tickets have been emailed to you. Bring
            the email on your smartphone to show for a fast check-in or
            simply give us your name and we'll pull up your order. Email
            =mail_to 'tickets@jamminjava.com'
            with
            any questions. 
    
          %p
            See you at the show!
          .site-signature
            -# TODO paramaterize this
            =image_tag '/images/jj-brindley-bros-signature.png', :style => 'margin-top: 10px'
        .span4
          -if @current_user.has_at_least_role(:employee)
            %h3 Agent Options
            %ul
              -@order.events.each do |event|
                %li=link_to "#{event.name}", "/manager/reports/event_sales/#{event.id}"
      
      =render :partial => 'front/orders/receipt', :locals => {:order => @order}

    -#render :partial => 'tickets/tickets', :locals => {:tickets => @order.tickets, :show_artwork => false}