%html{:style => "width: 100%; margin-top: 0px !important; padding-top: 0px !important;"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
  %body{:bgcolor => "#FEFEFE", :style => "width: 100%; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; background-color: #FEFEFE; margin: 0px 0 0 0px; padding: 0px 0 0;"}
    %table{:align => "center", :bgcolor => "#FEFEFE", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0px; background-color: #FEFEFE; margin: 0px; padding: 0px; border: 0px none;", :width => "100%"}
      %tbody
        %tr{:align => "center", :style => "border-collapse: collapse; border-spacing: 0px; border: 0px none;"}
          %td{:align => "center", :style => "border-collapse: collapse; border-spacing: 0px; border: 0px none;", :valign => "top"}
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0px; margin: 0px; padding: 0px; border: 0px none;", :width => "592"}
              %tbody
                %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0px; border: 0px none;"}
                  %td{:width => "592"}
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0px; margin-top: 0px !important; padding-top: 0px !important; border: 0px none;", :width => "592"}
                      %tbody
                        %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0px; border: 0px none;"}
                          %td{:width => "592"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0px; margin-top: 0px !important; padding-top: 0px !important; border: 0px none;", :width => "592"}
                              %tbody
                                %tr{:style => "border-collapse: collapse; border-spacing: 0px; height: 20px; border: 0;"}
                                  %td{:align => "left", :bgcolor => "#FEFEFE", :height => "20", :style => "background-color: #FEFEFE;", :valign => "top", :width => "592"}
                                    -#%img{:alt => "", :height => "20", :src => "#", :style => "display: block; line-height: 1; opacity: 0; padding: 0px; border: 0;", :width => "1"}/
    %table{:align => "center", :bgcolor => "#FEFEFE", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; background-color: #FEFEFE; margin: 0px 0 0; padding: 0px 0 0; border: 0;", :width => "100%"}
      %tr{:align => "center", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
        %td{:align => "center", :style => "border-collapse: collapse; border-spacing: 0; border: 0;", :valign => "top"}
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;", :width => "592"}
            %tbody
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;", :width => "592"}
                    %tbody
                      %tr{:style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                        %td{:align => "left", :height => "164", :style => "", :valign => "top", :width => "592"}
                          %img{:height => "164", :src => "https://s3.amazonaws.com/thintix_production/jamminjava/ckeditor/pictures/data/000/000/105/original/jj-email-header.jpg", :style => "display: block; line-height: 1; padding: 0; border: 0;", :width => "592"}/
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;", :width => "592"}
                    %tbody
                      %tr{:style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                        %td{:align => "left", :height => "134", :style => "padding-left: 20px; padding-right: 20px;", :valign => "top", :width => "592"}
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
                            Hey
                            =" #{@order.first_name}!"
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}  
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
                            Thank you for your ticket order! For a fast check-in, bring this email on your smartphone to the show OR simply give us your name and we’ll pull up your order. Food and drinks are available before, during, and after the show. Check out our award winning menu 
                            =succeed '.' do
                              %a{:href => 'https://jamminjava.com/food-drink', :style => 'color: #990000;' }here
                            Email 
                            %a{:href => 'mailto:tickets@jamminjava.com', :style => 'color: #990000; '}tickets@jamminjava.com
                            with any questions.
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}  
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "} See you at the show!
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;", :width => "592"}
                    %tbody
                      %tr{:style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                        %td{:align => "left", :height => "52", :style => "", :valign => "top", :width => "592"}
                          %img{:height => "52", :src => "https://s3.amazonaws.com/thintix_production/jamminjava/ckeditor/pictures/data/000/000/104/original/jj-bros-signature.jpg", :style => "display: block; line-height: 1; padding: 0; border: 0;", :width => "592"}/
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;", :width => "592"}
                    %tbody
                      %tr{:style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                        %td{:align => "left", :height => "70", :style => "padding-left: 20px; padding-right: 20px;", :valign => "top", :width => "592"}
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "} The Brindley Brothers
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "} P.S. Come early and stay late at our NEW Lobby Bar - it's open before and after the show!
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
                            %a{:rel => "nofollow", :style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #990000;  line-height: px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; ", :target => "_blank", :href => 'https://jamminjava.com/orders'} Click here to login to your account at jamminjava.com
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "}
              
          
              -############# TICKET #############
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  -@order.tickets.each do |ticket|
                    =render :partial => 'front/orders/ticket', :locals => {:ticket => ticket}

              -############# RECEIPT #############
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  =render :partial => 'front/orders/tickets_receipt', :locals => {:order => @order}

          
              -############# ARTWORK #############
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  -unless (artwork = @order.account.ticket_templates.first).nil?
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;", :width => "592"}
                      %tbody
                        %tr{:style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                          %td{:align => "left", :bgcolor => "#ffffff", :height => "219", :style => "background-color: #f0f0f0; ", :valign => "top", :width => "592"}
                            %div{:style => 'margin-bottom: 10px; margin-top: 10px;'}
                              %img{:alt => "", :height => "219", :src => artwork.file(:original), :style => "display: block; line-height: 1; padding: 0; border: 0;", :width => "592"}/
          
             
              -############# COPYRIGHT #############
              %tr{:align => "left", :style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                %td{:width => "592"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;", :width => "592"}
                    %tbody
                      %tr{:style => "border-collapse: collapse; border-spacing: 0; border: 0;"}
                        %td{:align => "left", :height => "235", :style => "padding-left: 20px; padding-top: 20px;", :valign => "top", :width => "592"}
                          %p{:style => "letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000; font-size: 13px; line-height: 17px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; "} Copyright 2012 Jammin Java. All Rights Reserved. 
    :css
      body { width: 100% !important; margin-top: 0px !important; padding-top: 0px !important; }
      body { background-color: #FEFEFE !important; margin-top: 0px !important; padding-top: 0px !important; font-family: sans-serif !important; }
      body { letter-spacing: normal !important; word-spacing: 0px !important; margin-top: 0 !important; padding-top: 0 !important; margin-right: 0 !important; padding-right: 0 !important; margin-bottom: 0 !important; padding-bottom: 0 !important; margin-left: 0 !important; padding-left: 0 !important; text-shadow: none !important; color: #000000 !important; font-size: 13px !important; line-height: 17px !important; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important; }