.row
  .span1
    %h1 Artists
  .span6.last
    =link_to '+ New Artist', new_artist_path, :class => 'btn btn-large'#, :method => :post
    
%br/


.row
  .span12
    .widget.big-stats-container
      .widget-content
        #big_stats.cf
          .stat
            %h4 Number of Artists
            %span.value=@current_account.artists.count

          .stat
            %h4 Artists with Active Events
            %span.value=@current_account.events.announced.where('headliner_id IS NOT null').count
  
          .stat
            %h4 
            %span.value

          .stat
            %h4 
            %span.value
            
            
  
.clear{:style => 'height: 30px'}
    
    
.hide
  =form_tag artists_path, :method => 'get' do
    .col.g8
      &nbsp;
      = paginate @artists, :params => {:controller => 'artists', :action => 'index'}, :window => 5
    
    .col.g4
      =text_field_tag :search, params[:search]

    .col.g4
      =submit_tag "Search", :name => nil

.widget.widget-table.action-table
  %table#artists.table.table-striped.table-bordered.display{:data => {:source => artists_url(format: 'json') }}
    %thead
      %th
      %th Artist name
      %th Facebook
      %th Twitter
      %th MySpace
      %th Website
      %th Actions
      
    
    -@artists.each do |artist|
      %tr
        %td
          %img{:src => artist.photo( :thumb )}
    
        %td=artist.name
        %td=link_to('Facebook', artist.facebook_url) if artist.facebook_url
        %td=link_to('Twitter', artist.twitter) if artist.twitter
        %td=link_to('Myspace', artist.myspace_url) if artist.myspace_url
        %td=link_to('Web', artist.url) if artist.url
        %td=button_to('Edit', artist)
