%ul.event_cart.col.g4
  %li
    .float.left.ticketText
      .alpha.columns.omega.three
        %span.event_title 3MTs
        %br
          %span.label Seat 23330
          %br
            %span.area Table Seating
      .alpha.columns.omega.one
        %span.price $15.00
        %br
          .clock 4:45
      .alpha.columns.omega.one
        .align.close.right
          %a{:href => "javascript:;"} [x]
    .clear
  %li
    .float.left.ticketText
      .alpha.columns.omega.three
        %span.event_title 3MTs
        %br
          %span.label Seat 23331
          %br
            %span.area Table Seating
      .alpha.columns.omega.one
        %span.price $15.00
        %br
          .clock 4:45
      .alpha.columns.omega.one
        .align.close.right
          %a{:href => "javascript:;"} [x]
    .clear
  %li
    .float.left.ticketText
      .alpha.columns.omega.three
        %span.event_title 3MTs
        %br
          %span.label Seat 23329
          %br
            %span.area Table Seating
      .alpha.columns.omega.one
        %span.price $15.00
        %br
          .clock 4:44
      .alpha.columns.omega.one
        .align.close.right
          %a{:href => "javascript:;"} [x]
    .clear