-content_for :title do
  ='Buy Tickets » ' << @event.name << ' » Events'

-content_for :javascript do
  :javascript
    $(function(){
      // Tix = Tix || {}
      Tix.Chart = #{render('charts/chart', :object => @chart, :format => :json)};
    });
  
.front-chart-view
  %h1 Select Your Seats
  .row
    .span2
      %h2=image_tag( @event.photo(:thumb), :width => '100%')
    
    .span6
    
      .event-starts-at=@event.starts_at.to_formatted_s(:jammin_java)
    
      =render :partial => 'front/events/event_title', :locals => {:event => @event}
      
      %p.small=@chart.prices_str

    
    .span4
      
      -# .alert
      -#   Timer
      -#   %h1 10:00
  %hr.red-thin
  .row
    -# YOUR SELECTIONS
   
    
  
  .row
    .span5
      %h2 Seating Chart
      %h4
        %strong Click on the map below to select your seats.

      %table.table.no-border{:style => 'color: #aaa'}
        -# TODO: Store these section descriptions directly on the section object.
        -# Prototyping design for now
        -if @chart.has_section?('VIP')
          %tr
            %td
              %strong VIP
            %td 
              Reserved seating in elevated, set apart area. Great views, exclusive section.
              %strong Tables J, K, L, and M.
            
        -if @chart.has_section?('Premier') || @chart.has_section?('Seated')
          %tr
            %td 
              %strong Premier
            %td Reserved seating at one of the eight tables closest to the stage.
        -if @chart.has_section?('GA') || @chart.has_section?('General Admission')
          %tr
            %td
              %strong General Admission (GA)
            %td
              All other tickets in seated rows or standing (depends on show), first come first served.        
              %strong Tables A, B, C, D, E, F, G, H.
              
      #chart_container
        
    .span7
      .row{:style => 'margin-bottom: 0px'}
        .span3
          %h2 Your Selections
        .span4
          #cart_totals_container
        
      %p.countdown
        You have 
        %strong.time 
        to complete your purchase.
      
      #cart_container
      
  .row
    .span7.offset5
      %strong Please note: 
      All sales are final. There are no refunds or exchanges. Service charges are as follows: $1 for weekday kids shows, $3 for tickets $6-$10, $4 for tickets $11-20 and $5 for tickets $21 and up
      
     
    