-content_for :title do
  ='Buy Tickets » ' << @event.name << ' » Events'

-content_for :javascript do
  :javascript
    $(function(){
      // Tix = Tix || {}
      Tix.Chart = #{render('charts/chart', :object => @chart, :format => :json)};
    });
  
.front-chart-view
  %h1 Select Your Seats
  .row
    .span2
      %h2=image_tag( @event.photo(:thumb), :width => '100%')
    
    .span6
    
      .event-starts-at=@event.starts_at.to_formatted_s(:jammin_java)
    
      =render :partial => 'front/events/event_title', :locals => {:event => @event}
      
      %p.small=@event.current_prices_str

    
    .span4
      
      -# .alert
      -#   Timer
      -#   %h1 10:00
  %hr.red-thin
  .row
    -# YOUR SELECTIONS
   
    
  
  .row
    .span5
      %h2 Seating Chart
      %p Click on the map to select your seats.
    
      #chart_container
        
    .span7
      .row{:style => 'margin-bottom: 0px'}
        .span3
          %h2 Your Selections
        .span4
          #cart_totals_container
        
      %p.countdown
        You have 
        %strong.time 
        to complete your purchase.
      
      #cart_container
      
      
     
    