-content_for :title do
  ='Buy Tickets » ' << @event.name << ' » Events'

-content_for :javascript do
  :javascript
    $(function(){
      // Tix = Tix || {}
      Tix.Chart = #{render('charts/chart', :object => @chart, :format => :json)};
    });
  
.front-chart-view
  %h1 Select Your Seats
  .row
    .span2
      %h2=image_tag( @event.photo(:thumb), :width => '100%')
    
    .span6
    
      %p.artists
        %h5=@event.starts_at.to_formatted_s(:jammin_java)
    
        =render :partial => 'front/events/event_title', :locals => {:event => @event}
      
      %p.small=@event.current_prices_str
      =image_tag '/images/interface/social_mini.png'

    
    .span4
      #cart_totals_container
      -# .alert
      -#   Timer
      -#   %h1 10:00
      
  .row
    -# YOUR SELECTIONS
   
    
  
  .row
    .span5
      #chart_container
      
    .span7
      %h2 Your Selections
      #cart_container
      
      
    /.span3
    /#cart_totals_container
     
    