=simple_form_for @theme do |f|
  =if @theme.background_image?
    =link_to "View", @theme.background_image(:original)
  =f.input :background_image
  =f.input :title
  =f.input :css_doc  
  =f.button :submit