
-content_for :javascript do
  :javascript
    $(function(){
      $('#theme_css_doc').codemirror({
        mode: 'css'
      });
    });



=simple_form_for @theme do |f|
  .row
    .span3
      =f.input :title
    .span2
      =f.input :background_image
      -if @theme.background_image?
        =link_to " Current Bg Image", @theme.background_image(:original)
    .span2
      =f.button :submit, :class => 'btn btn-primary btn-large'
        
  .row
  
    =f.input :css_doc, :label => 'CSS Overrides', :input_html => {:style => 'height:700px;'}

