.row
  .span9
  
    #myCarousel.carousel.slide
      .carousel-inner

        -carousel.carousel_items.all.shuffle.each_with_index do |item, index|
          .item{:class => ((index == 0) ? 'active' : '')}
            -if item.image && item.image.file?
              =link_to(image_tag(item.image.file(:large)), item.link )
  
            .carousel-caption
              %h3.title= item.title
              %p=item.caption
            =#item.expires_at

      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
  
-content_for :javascript do
  :javascript
    $(function(){
      $('.carousel').carousel();
    });
    
