
.row
  .span5
    /image_tag( @carousel.file(:original), :style => 'float: right' )
  .span7
    = simple_form_for(@carousel) do |f|
      = f.error_notification

      .form-inputs
        = f.input :slug
      .form-actions
        = f.button :submit
 

=content_for :javascript do
  :javascript
   