
.columns.sixteen

  .m-controlbar
    %ul 
      %li=link_to 'Today', "#", :class => 'highlighted button'

      %li=link_to 'This Week', '#', :class => 'button'
      %li=link_to 'This Month', '#', :class => 'button'
      %li=link_to 'This Year', '#', :class => 'button'
  
      %li
        %input{:type => 'text', :placeholder => '1/1/2012'}
      %li
        %input{:type => 'text', :placeholder => '1/1/2012'}
    
.clear

.columns.sixteen
  .columns.twelve.alpha
  
    .stats
      .columns.four.alpha
        %h4 Orders
        %h1{:style => 'font-size: 70px' } 4600

      .columns.four
        %h4 Sales
        %h1{:style => 'font-size: 70px' } $320,256

      .columns.four.omega
        %h4 Tickets
        %h1{:style => 'font-size: 70px' } 145,600
      
      .clear{:style => 'height: 20px' }
      
      
      .columns.four.alpha
        %h4 new Customers
        %h1{:style => 'font-size: 70px' } 3,459
      
      
      .columns.four
        %h4 Checkins
        %h1{:style => 'font-size: 70px' } 143
      
      .columns.four.omega
        %h4 Unique Website Hits
        %h1{:style => 'font-size: 70px' } 143
        
        
        
      .clear{:style => 'height: 20px' }
    
      
      .columns.four.alpha
        %h4 Average Order Amount
        %h1{:style => 'font-size: 70px' } $46.65
        
        
      .columns.four
        %h4 Best Day Ever
        %h1{:style => 'font-size: 70px' } $490,343


      .columns.four.omega
        %h4 Average Order Amount
        %h1{:style => 'font-size: 70px' } 3/2/30
        
        
    .clear{:style => 'height: 20px' }
  
    .columns.four.alpha
    
      %h3 Top Shows 
      %ul
        -5.times do
          %li= @current_account.random(:event).title
          
    .columns.four

      %h3 Top Artists
      %ul
        -5.times do
          %li= @current_account.random(:artist).name
          
    
    
    .columns.four.omega

      %h3 Top Seats
      %ul
        %li General Admission
        %li General Admission
        %li General Admission
        %li Bar - BAR-1
        %li VIP - V22
        %li Seated - A3
        
    
    

  .columns.four.omega
    %h3 Order Stream
    %ul
      -10.times do |i|
        %li{:style => "color:  ##{( 0xffffff - (i * 0x111111)).to_s(16) }"}
          %strong Shaun Robinson
          =%w(grabbed got bought purchased copped)[rand(6)]
          %strong
            =rand(10)+1
          tickets
          to 
          %strong=@current_account.random(:event).title




    
    
