
.span8.offset2
  %h1 Customers
  .widget.widget-table.action-table
    %table#customers.table.table-striped.table-bordered.display{:data => {:source => users_url(format: 'json') }}
      %thead
        %td First Name
        %td Last Name
        %td Email
        %td Total sales
    
      -@users.each do |u|
        %tr
          %td
            %a{:href => user_path(u)}
            %img{:src => u.gravatar_url}
    
          %td{:valign => 'middle' }= u.first_name
          %td= u.last_name
          %td= u.total_sales
          %td= number_to_currency u.balance
          %td
            %a.button{:href => user_path(u)} Open »
          /%td=link_to 'User password', new_user_password_path + '?user_email=' + u.email 