.row
  .span4
    %img{:src => @user.gravatar_url, :width => '300px'}
  
  .span8
    .row
      %h1= @user.full_name

      .span4
        .rpfole
          %p=@user.email
          %p=@user.role.to_s.titleize
  

      .span4
        .widget
          .widget-header
            %h3="#{@user.first_name}'s Orders + Tickets"
          .widget-content
            -if @user.orders.empty?
              %em
                =@user.first_name
                hasn't placed an order yet.
            -else
              -@user.orders.each do |order|
                Order placed 
                %strong=order.created_at.to_formatted_s(:jammin_java)
                
                .well
                  Price: 
                  =number_to_currency(order.total_base_price)
                  Service: 
                  =number_to_currency(order.total_service_charge)
                  %strong
                    Total: 
                    =number_to_currency(order.total)
                  
                  
                %ul
                  -order.tickets.collect{ |ticket| ticket.event.name }.uniq.each do |event_name|
                    %li=event_name
                  
                
      
        .widget
          .widget-header
            %h3="#{@user.first_name}'s Address"
          .widget-content
            -if @user.address.nil?
              %em
                =@user.first_name
                doesn't have any addresses saved
            -else
              %ul
                %li=link_to @user.address.address, '#'
                
        .widget
          .widget-header
            %h3="#{@user.first_name}'s Saved Payment Options"
          .widget-content
            %em
              =@user.first_name
              doesn't have any payment options saved

                
                
          
      
      