
%h2 4 Digit Card Security Code
For your safety and security, PayPal requires that you enter your card's security code. The American Express security code is a 4-digit number printed on the front of your card. It appears after and to the right of your card number.


%p=image_tag '/images/cvv_card_amex.gif'

=link_to  'Using Visa, MasterCard or Discover?', '/static/cvv_info'
