%ul.nav.nav-list.bs-docs-sidenav.affix
  %li
    %a.shortcut{:href => "/manager/pages"}
      %i.shortcut-icon.icon-list-alt
      %span.shortcut-label Pages
  %li
    %a.shortcut{:href => "/manager/sidebars"}
      %i.shortcut-icon.icon-file
      %span.shortcut-label Sidebars
  %li
    %a.shortcut{:href => "/manager/widgets"}
      %i.shortcut-icon.icon-tag
      %span.shortcut-label Widgets
  %li
    %a.shortcut{:href => "/manager/carousels"}
      %i.shortcut-icon.icon-picture
      %span.shortcut-label Carousels
      
  %li
    %a.shortcut{:href => "/manager/themes"}
      %i.shortcut-icon.icon-picture
      %span.shortcut-label Themes


  


