.row
  .span12
    .well
      .shortcuts
        %a.shortcut{:href => "/manager/pages"}
          %i.shortcut-icon.icon-list-alt
          %span.shortcut-label Pages
        %a.shortcut{:href => "/manager/sidebars"}
          %i.shortcut-icon.icon-file
          %span.shortcut-label Sidebars
        %a.shortcut{:href => "/manager/widgets"}
          %i.shortcut-icon.icon-tag
          %span.shortcut-label Widgets
        %a.shortcut{:href => "/manager/carousels"}
          %i.shortcut-icon.icon-picture
          %span.shortcut-label Carousels
