#logo.columns.nine.alpha
  
.info.columns.seven.omega
  .align.right
    =link_to 'Twitter', 'http://www.twitter.com/jamminjava', :target => '_blank'
    |
    =link_to 'Facebook', 'http://www.facebook.com/pages/Vienna-VA/Jammin-Java/55704731656?ref=s', :target => '_blank'
    |
    =link_to 'FAQ', 'http://jamminjava.com/home/main/faq', :target => '_blank'
    |
    =link_to 'Contact', 'http://jamminjava.com/home/main/contact', :target => '_blank'
    |
    =link_to 'Directions', 'http://jamminjava.com/home/main/contact', :target => '_blank'
    <br/>
    <br/>
    %strong
      %a{:href => '#/checkout'}
        Cart:
        %span.cart_total $0.00
    %br/
    <br/>
    .small 227 Maple Ave E Vienna, VA 22180   |   <a href='#'>thebros@jamminjava.com</a>
