.row
  #logo.span6
    =link_to image_tag('/images/jj-logo.png'), '/'
    
  .info.span6
    .align.right
      .secondary-nav
      
            
        .social-links

      
          =link_to 'Twitter', 'http://www.twitter.com/jamminjava', :target => '_blank'
          |
          =link_to 'Facebook', 'http://www.facebook.com/pages/Vienna-VA/Jammin-Java/55704731656?ref=s', :target => '_blank'
          |
          =link_to 'FAQ', '/faq'
          |
          =link_to 'Contact', '/contact'
          |
          =link_to 'Directions', '/contact'
          |
          =link_to 'Hours', '/contact'
        
        

          %span.cart-mini
            %strong
              %a{:href => '/orders/new'}
                Cart
                %span.cart-total (0)
                
                
          %br/
          %br/
          
          %span.login &nbsp;
        
        %br/
        .small.contact
          %span.address 227 Maple Ave E Vienna, VA 22180
          | 
          %span.email=mail_to 'thebros@jamminjava.com', nil, :encode => 'hex'
