.row
  .span6
    %h1 Upcoming Shows
  .span3
    <br/>
    View:
    %h2
      =link_to 'GRID', '#', :class => 'hide-other', 'data-class' => '.artists-view', 'data-target' => '#artists-grid-view'
      =link_to 'LIST', '#', :class => 'hide-other', 'data-class' => '.artists-view', 'data-target' => '#artists-list-view'
      
%hr/

#artists-list-view.artists-view
  .row
    .span3
      =@current_account.sidebars.last.body.html_safe
      
    .span9

      -@events.each do |event|
        .item
          .row
            .span2
              -if (event.headliner && event.headliner.photo?)
                =link_to( image_tag(event.headliner.photo(:medium), :width => '100%'), front_event_path(event))
              -else
                =link_to( image_tag('http://placehold.it/300x230', :width => '100%'), front_event_path(event))
                =#image_tag('http://placehold.it/300x230', :width => '100%') 
        
            .span6
              .starts-at=event.starts_at.to_formatted_s(:jammin_java)
              .event-name=event.name
              .artists
                =event.headliner.name if event.headliner
                =("+" << event.secondary_headliner.name) if event.secondary_headliner
          
              %button{:href => 'Buy Tickets'} Buy Tickets
            
          
      

#artists-grid-view.artists-view.hide
  -@events.in_groups_of(3, false) do |events|
    .row
      -events.each do |event|
        .span4{:style => 'margin-bottom: -130px;'}
          -if event.headliner
            =image_tag(event.headliner.photo, :width => '100%') 
          -else
            =image_tag('http://placehold.it/300x230', :width => '100%') 
          .well{:style => 'position: relative; background: rgba(0,0,0,.6); height: 100px; bottom: 130px; '}
            %h2=event.name
            %h3=event.headliner.name if event.headliner
            %h3=event.starts_at.to_formatted_s(:jammin_java)
            =event.price_freeform
        
-content_for :javascript do
  :javascript
    $(function(){
      $('.hide-other').click(function(){
        klass = $(this).data('class');
        target = $(this).data('target');
        
        $(klass).hide();
        $(target).show();
      })
    });
  
