%ul 
  %li=link_to 'Calendar', '/calendar', :class => 'highlighted'
  %li=link_to 'Lobby Bar', '/lobby-bar'
  %li=link_to 'Kids Shows', '/kids-shows'
  %li=link_to 'Private Events', '/private-events'
  %li=link_to 'Food / Drink', '/food-drink'
  %li=link_to 'Music Lessons', 'http://themusicschoolonline.com/', :target => '_blank'
  %li=link_to 'Store', '/store'
  %li=link_to 'The Story', '/about', :class => 'highlighted'        
  %li=link_to 'Brindley Brothers Present', '/brindley-bros-present'