-content_for :sidebar do
  =render :partial => 'sidebars/sidebar', :locals => {:sidebar => @sidebar}
  
  
-content_for :content_nine do
  .row
    =render :partial => 'front/search/search_form'
    
  %hr.red-thin
  
  -if @events.nil?
    Type a term to search.
  -elsif @events.blank?
    No results found
  -else
    =render(:partial => 'front/events/events', :locals => {:events => @events})