-content_for :sidebar do
  =render :partial => 'sidebars/sidebar', :locals => {:sidebar => @sidebar}
  
  
-content_for :content_nine do
  .row
    =form_tag '/search', :method => 'get' do |f|
      .span3
        =text_field_tag 'q', params[:q], :placeholder => 'Search...', :style => 'font-size: 15px; padding: 10px 5px;'
      .span4
        %button{:type => "submit", :style => 'margin: 0; padding: 10px 20px', :name => nil }
          %i.icon-white.icon-search

  %hr.red-thin
  
  -if @events.nil?
    Type a term to search.
  -elsif @events.blank?
    No results found
  -else
    =render(:partial => 'front/events/events', :locals => {:events => @events})