
%p=field.to_s.titleize

-@date = @event.send(field).nil? ? '' : @event.send(field).to_formatted_s(:date_y)
-@time = @event.send(field).nil? ? '' : @event.send(field).to_formatted_s(:time)

.datetime
  .input-append.date.datepicker{:data => {:date=>@date, 'date-format' => "mm-dd-yyyy" }}
    %input.span1{:name => "event[#{field}][date]", :size=>"16", :type=>"text", :value=>@date}
    %span.add-on
      %i.icon-th
    
    
  .input-append.time.timepicker.bootstrap-timepicker-component{}
    %input.span1.timepicker.input-small{:type => 'text', :name => "event[#{field}][time]", :value => @time }
    %span.add-on
      .i.icon-time

