=content_for :javascript do
  :javascript
    TixMgr.startEventEditRouter()
  
.row
  .span12
    .widget.big-stats-container
      .widget-content
        #big_stats.cf
          .stat
            %h4 Total Tickets Sold
            %span.value=@event.tickets.count

          .stat
            %h4 Sold Tickets Checked in
            %span.value=#@event.tickets.checked_in.count

          .stat
            %h4 Min Ticket Price
            -unless @event.current_prices_arr.nil?
              %span.value=number_to_currency @event.current_prices_arr.min

          .stat
            %h4 Max ticket Price
            -unless @event.current_prices_arr.nil?
              %span.value=number_to_currency @event.current_prices_arr.max
            

.row
  =simple_form_for @event, :multipart => true do |f|
    .span8
      .widget
        .widget-header
          %i.icon-pushpin
          %h3 Edit Event
      
        .widget-content
    
      
          .row
            .span8
              .control-group
                %label.control-label
                .controls
                  =f.input :title, :input_html => { :style => 'width: 100%; font-size: 30px; height: 40px'}
                  =f.input :slug#, :input_html => { :style => 'width: 100%; font-size: 30px; height: 40px'}
                  
                  =f.input :disable_event_title#, :as => :checkbox
      
          .row
            .span8
              .control-group
                %label.control-label
                .controls
                  =f.input :body, :as => :ckeditor, :toolbar => 'easy',  :input_html => { :style => 'width: 100%', :height => '700'}
        
        
    
    .span4
      .widget.widget-plain
        .widget-content

          =f.button :submit, 'Save',:class => 'btn btn-large btn-warning btn-support-ask', :style => 'width: 100%' #artist_path(@artist), :method => :post, :class => 'btn btn-large btn-warning btn-support-ask'

          =link_to '+ New Event', new_event_path, :class => 'btn btn-large btn-support-contact'
          
          -if @event.id
            =link_to 'Preview', front_event_path(@event), :class => 'btn btn-large btn-support-contact'
            =link_to 'Delete', event_path(@event), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-large btn-support-contact btn btn-danger'
            

       
      -#.accordion#event_edit_accordion
      -#  .accordion-group
      -#    .accordion-heading
      -#      .accordion-toggle{:data => {'toggle' => 'collapse'} }
      .widget
        .widget-content
          #event_edit_accordion.accordion
          
          
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#event_edit_accordion", "data-toggle" => "collapse", :href => "#collapseZero"}
                  Category
              #collapseZero.accordion-body.collapse
                .accordion-inner
                  =f.input :cat, :as => :select, :collection => Event::CATEGORIES, :prompt => '- choose a category - ', :label => 'Category'
          
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#event_edit_accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                  Artists
              #collapseOne.accordion-body.collapse
                .accordion-inner
                  =render :partial => 'artist_controls', :locals => {:event => @event}
                  
                  
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#event_edit_accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                  Show Times
              #collapseTwo.accordion-body.collapse
                .accordion-inner
                  .yesno.announced
                    %span Announced?
                    =@event.announced? ? 'Yes' : 'No'

                  .yesno
                    %span On Sale?
                    =@event.on_sale? ? 'Yes' : 'No'
                    
                  
                  -(Event::TIMES).each do |time|
                    =render :partial => 'datetime_control', :locals => { :field => time }
                    %hr/
                    
                    
                  -[:off_sale_at, :remove_at].each do |time|
                    %h5=time.to_s
                    =@event.send(time).to_formatted_s(:date_y) << " " << @event.send(time).to_formatted_s(:time)
                    
                    %hr/
                    

            
            
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#event_edit_accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                  Seating Chart + Prices
              #collapseThree.accordion-body.collapse
                .accordion-inner
                  =render :partial => 'seating_chart_controls', :locals => {:event => @event}
                  
                  
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#event_edit_accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                  Info
              #collapseFour.accordion-body.collapse
                .accordion-inner
                  =f.input :info
                  =#f.input :price_freeform
                  =f.input :set_times
                  
                  
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#event_edit_accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                  Overrides
              #collapseFive.accordion-body.collapse
                .accordion-inner
                  =f.input :external_ticket_url
                  =f.input :sold_out, :label => "Force sold out" #, :as => :checkbox
                  =f.input :free_event, :label => "Free event?" #, :as => :checkbox
                  =f.input :hide_buttons, :label => "Private Party?" #, :as => :checkbox
                  
                  
          
