.row
  .span1
    %h1 Events
  .span6.last
    =link_to '+ New Event', new_event_path, :class => 'btn btn-large'#, :method => :post
  %br/
  %br/

.row
  .span12
    .widget.big-stats-container
      .widget-content
        #big_stats.cf
          .stat
            %h4 Number of Events
            %span.value=@current_account.events.count

          .stat
            %h4 Events with Headliners
            %span.value=@current_account.events.where('headliner_id IS NOT null').count 

          .stat
            %h4 Events with Secondary Headliners
            %span.value=@current_account.events.where('secondary_headliner_id IS NOT null').count 

          .stat
            %h4
            %span.value
    
.row
  .span12
    .clear{:style => 'height: 30px'}
    
    .widget.widget-table.action-table
      %table#events.table.table-striped.table-bordered.display{:data => {:source => events_url(format: 'json') }}
        %thead
          %th Cat
          %th Title
          %th{:width => 70} Date
          %th{:width => 70} Time
          %th{:width => 70} Weekday
          %th Price Freeform
          %th Set Times
          %th{:width => 100} Edit
    
        -@events.each do |event|
          %tr
            %td=event.cat
          
            %td=event.title
            %td=event.starts_at.to_formatted_s :date
            %td=event.starts_at.to_formatted_s :time
            %td=event.starts_at.to_formatted_s :weekday
            %td=event.price_freeform
            %td=event.set_times
            %td=link_to 'Edit', edit_event_url(event), :class => 'btn'