




.span6


  .row
    .widget
      .widget-header
        %h3
          Chart
      .widget-content
        #chart_container
  
    .clear

    -#THUMBNAIL
    
    
.span6
  .widget
    .widget-header
      %h3 Chart Properties
    .widget-content
      .row
        #chart_properties
  .row
    .span3
      #col2
        .widget
          .widget-header
            %h3 Step 1
          .widget-content
            Click on a seat to begin.
    .span3
      #col3
        &nbsp;





  

.clear