.row
  .span6
    %h1 Chart Name
  .span6
    -if @chart.event
      =link_to @chart.event.title, @chart.event
.row
  
  = render 'form'

=content_for :javascript do
  :javascript
    chart = #{ render('charts/chart', :object => @chart, :format => :json) }
    TixMgr.startChartRouter({chart: chart});
    
    