.datetime
  display: inline-block
  width: 110%
  margin-left: -10px
  
  .timepicker, .datepicker
    float: left
    padding: 0px 
    
    input
      font-size: 1.1em
      padding: 6px 3px
      margin: 2px
      
  .timepicker
    input
      width: 120px
    
  .datepicker
    input
      width: 120px
  
  clear:  both