.events-view.events-view-list
  .row
    .span9
      -events.each do |event|
        -cache ['v1', event] do
          -#="<!-- cache v1 #{event.cache_key}-->".html_safe
          =render :partial => 'front/events/event', :locals => { :event => event }
