.events-view.events-view-list
  .row
    .span9
      -cache ['events_whole_list'], :expires_in => 1.minute do 
        -events.each do |event|
          =render :partial => 'front/events/event', :locals => { :event => event }
