-content_for :title do
  =@page.title.titleize


-if @page.slug == 'home'
  -content_for :content_twelve do
    .row
      .span9
        =raw render_shortcodes('[carousel name=&quot;home&quot;]')
      .span3
        =image_tag('http://s3.amazonaws.com/thintix_production/jamminjava/ckeditor/pictures/data/000/000/041/medium/tonight_header.png?1351461213',  width: '100%')

        -@current_account.events.today.order('starts_at ASC').each do |event|
          =event.set_times.html_safe unless event.set_times.blank?


-content_for :content_nine do
  
  -if @page && @page.body
    =raw render_shortcodes( @page.body )
  
  
  
=content_for :sidebar do 
  =@page.sidebar.body unless (@page.nil? || @page.sidebar.nil?)