-cache @page do
  .row
    -if @page.sidebar.blank?
      .span12
        =raw render_shortcodes( @page.body )
    -else
      .span9
        .layout-content
          =raw render_shortcodes( @page.body )

      .span3
        .layout-sidebar
          =render partial: 'sidebars/sidebar', locals: {sidebar: @page.sidebar}