.span8.offset2
  .well{:style => 'background-color: white'}
    =render :partial => 'orders/order', :locals => { :order => @order }
    
          
          
          
          
          
          
          
          
        
        
