%html
  %head
  %body

    %div{:style => "line-height:1.3em;font-size:14px;background-color:#000000; color: white;font-family:'Lucida Grande','Lucida Sans Unicode','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif"}
      %img{:src => "https://billing.37signals.com/images/pixel.png?source=invoice&id=4787042"}
        %div{:style => "width:650px;margin:0 auto;padding:10px 0 30px"}
          %div{:style => "overflow:hidden;padding:15px 25px 0"}
            %h1{:style => "font-size:21px"}
              Paid
              %span.il Invoice
            =image_tag('http://jamminjava.thintix.com/images/jj-logo.png', :width => "475")
            -#%img{:alt => "Thank you for being a customer!", :border => "0", :height => "50", :src => "http://jamminjava.thinitix.com/images/mailer/thank-you-customer.png", :width => "475"}
            %div{:style => "overflow:hidden;padding:10px 0"}
              %div{:style => "width:40%;overflow:hidden;font-size:12px;padding-right:20px;float:left"}
                %p{:style => "margin:0"}
                  %strong Your card has been charged.
                  %br
                    Card type charged:
                    =@order.card_type
                %p
              %div{:style => "width:50%;overflow:hidden;font-size:12px;float:left"}
                %p{:style => "margin:0"}
                  %strong=@order.full_name
                  placed this order.
                %p
          %div{:style => "background-color:#fff;padding:0;border:1px solid #e8e8e8;border-top:0;border-bottom:0;overflow:hidden"}
            %div{:style => "margin:0 0 20px;padding:0;max-height:5px;overflow:hidden;display:block"}
              %img{:alt => "Top-edge", :border => "0", :height => "5", :src => "https://37assets.s3.amazonaws.com/emails/queenbee/invoice/top-edge.png", :width => "650"}
            %div{:style => "padding:0 15px;overflow:hidden; color: #333;"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tbody
                  %tr
                    %td{:style => "padding:0 10px 20px 10px;font-size:12px", :valign => "top"}
                      -#%a{:href => "http://basecamp.com/?source=invoice", :target => "_blank"}
                      -#%img{:align => "left", :alt => "Logo-bcx", :border => "0", :height => "40", :src => "https://37assets.s3.amazonaws.com/emails/queenbee/invoice/logo-bcx.png", :width => "47"}/
                      %h2{:style => "font-size:24px;vertical-align:bottom;margin:0;padding:8px 0 0 55px"}
                        %span.il Jammin' Java
                    %td{:colspan => "2", :style => "padding:10px;font-size:12px;text-align:right", :valign => "top"}
                      %p
                        Billing date:
                        =Time.zone.now.to_formatted_s
                        %br
                          %span.il Invoice
                          \#: 
                          =@order.id
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tbody
                  %tr
                    %td{:style => "padding:10px;font-size:12px;border-top:1px solid #ccc", :valign => "top"}
                      %p
                        Jammin' Java
                        %br
                        227 Maple Ave
                        %br
                        Vianna, VA 12345 USA
                    %td{:colspan => "2", :style => "padding:10px;font-size:12px;border-top:1px solid #ccc", :valign => "top"}
                      %p
                        %strong Bill To
                        %br
                        =@order.full_name

                  %tr
                    %td{:style => "padding:20px 10px 5px 10px;border-bottom:1px solid #cccccc;font-size:12px;font-weight:bold", :valign => "top"}
                      %p Time
                    %td{:style => "padding:20px 10px 5px 10px;border-bottom:1px solid #cccccc;font-size:12px;font-weight:bold", :valign => "top"}
                      %p Show
                    %td{:style => "padding:20px 10px 5px 10px;border-bottom:1px solid #cccccc;font-size:12px;font-weight:bold", :valign => "top"}
                      %p Base
                    %td{:style => "padding:20px 10px 5px 10px;border-bottom:1px solid #cccccc;font-size:12px;font-weight:bold", :valign => "top"}
                      %p Service
                    %td{:style => "padding:20px 10px 5px 10px;border-bottom:1px solid #cccccc;font-size:12px;font-weight:bold", :valign => "top"}
                      %p Total
                    
                    
                  %tr
                  -@order.tickets.each do |ticket|
                    %tr
                      %td{:style => "padding:10px 5px 10px 10px;font-size:12px", :valign => "top"}
                        %p=ticket.event_starts_at.to_formatted_s(:jammin_java)
                      %td{:style => "padding:10px 5px 10px 10px;font-size:12px", :valign => "top"}
                        %p
                          %span.il=ticket.event_name
                          
                      %td{:style => "padding:10px 5px 10px 10px;font-size:12px", :valign => "top"}
                        %p=number_to_currency ticket.base_price
                      %td{:style => "padding:10px 5px 10px 10px;font-size:12px", :valign => "top"}
                        %p=number_to_currency ticket.service_charge
                      %td{:style => "padding:10px 5px 10px 10px;font-size:12px", :valign => "top"}
                        %p=number_to_currency ticket.total 
                  %tr
                    %td  
                    %td{:style => "padding:10px 10px 5px 10px;font-size:12px;font-weight:bold"} Amount due:
                    %td{:style => "padding:10px 10px 5px 10px;font-size:12px;font-weight:bold"}=number_to_currency @order.total_base_price
                    %td{:style => "padding:10px 10px 5px 10px;font-size:12px;font-weight:bold"}=number_to_currency @order.total_service_charge
                    %td{:style => "padding:10px 10px 5px 10px;font-size:12px;font-weight:bold"}=number_to_currency @order.total
                  %tr
                    %td{:colspan => "3", :style => "padding:20px 5px 10px 0;font-size:12px", :valign => "top"}
                      %p
                        This charge will appear on your credit card statement as
                        BLDR, INC.
          
            %div{:style => "margin:20px 0 0;padding:0;max-height:5px;overflow:hidden;display:block"}
              %img{:alt => "Bottom-edge", :border => "0", :height => "5", :src => "https://37assets.s3.amazonaws.com/emails/queenbee/invoice/bottom-edge.png", :width => "650"}
          %div{:style => "overflow:hidden;padding:0px 15px;font-size:12px"}
            %p
              %a{:href => "http://jamminjava.com", :target => "_blank"} JAMMINJAVA.COM