.row
  .span3
    %ul{:style => 'margin: 0; list-style: none'}
      %li=link_to 'My Account', '#'
      %li=link_to 'My Orders', '#'
      %li=link_to 'My Address', '#'
      %li=link_to 'Email Subscriptions', '#'
      %li=link_to 'Change Password', '#'
        
  .span9

  
