-if user_signed_in?
  Hello
  
  %strong=link_to @current_user.email, edit_user_path(@current_user)
  -if @current_user.role && @current_user.has_at_least_role(:employee)
    |
    =link_to 'Manager', '/manager'

    | 
    =link_to 'Logout', '#', :method => :delete
  -else
    =link_to 'Login', '#'#new_user_session_path