%h1 Register
%br/
=simple_form_for(user=User.new, :url => registration_path(user), :html => {:id => 'user_register'} ) do |f|

  .row
    .span6
      %h2 Your Information

      %hr/
    .span2=f.input :first_name, :required => true # 'user[first_name]', attr_or_nil(:user_first_name), :placeholder =>  'first name'
    .span2=f.input :last_name, :required => true # 'usertext_field_tag 'user[last_name]', attr_or_nil(:user_last_name), :placeholder =>  'last name'
    .span2=f.input :email, :required => true# 'user, attr_or_nil(:user_email), :placeholder =>  'email (confirm)'
    = f.input :account_id, :as => :hidden, :input_html => {:value => @current_account.id }
    
  .row
    .span3
      =f.input :password, :required => true
    .span3
      =f.input :password_confirmation, :required => true
      -#if params[:after_sign_in_path]
      = hidden_field_tag( 'after_sign_in_path', '/checkout' )
      
  %button Create account
    
-#   %h2 Phone
-#   %hr/
-#   .row
-#     .span3=text_field_tag 'phone[number]', attr_or_nil(:phone_number), :placeholder =>  'XXX-XXX-XXXX'
-# 
-#   %h2 Password
-#   %hr/
-#   .row
-#     .span3=text_field_tag 'phone[number]', attr_or_nil(:phone_number), :placeholder =>  'password'
-#     .span3=text_field_tag 'phone[number]', attr_or_nil(:phone_number), :placeholder =>  'password confirm'
-# 
-#   =button_to 'Create Account', '#'
-#   
-#   
-#   
-#   %h2 Sign up
-#   = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
-#     = f.error_notification
-#     .form-inputs
-#       = f.input :email, :required => true, :autofocus => true
-#       = f.input :password, :required => true
-#       = f.input :password_confirmation, :required => true
-#     .form-actions
-#       = f.button :submit, "Sign up"
-#   = render "devise/shared/links"
  