.row
  .span10.offset2
    %h1 404: Page not found

    %h3 Sorry, but the page you are looking for has not been found. 
    %p Try checking the URL for errors, then hit the refresh button on your browser.

    =render :template => 'shared/nav'