-content_for :content do
  =simple_form_for @phone, :url => front_phone_path(@phone) do |f|
    =f.input :number
    =hidden_field_tag('phone[phonable_id]', @current_user.id)
    =hidden_field_tag('phone[phonable_type]', 'User')
    
    =f.submit
  -#
    #  updated_at       :datetime
    #  addressable_id   :integer          not null
    #  addressable_type :string(255)      not null
    #  tag_for_address  :string(255)
    #  country          :string(255)
    #  address_line_1   :string(255)
    #  address_line_2   :string(255)
    #  locality         :string(255)
    #  admin_area       :string(255)
    #  postal_code      :string(255)