@import "compass/css3/transition"

$primary: maroon 
$alpha: white
$omega: black
$tertiary: #39f
$logo: url(/images/jj-logo.png)
$background: url(/images/jj-bg.jpg)


// $primary: maroon 
// $alpha: w
// $omega: white
// $tertiary: #39f
// $logo: url(http://jamminjava.s3.amazonaws.com/images/logos/logo_gray.png)
// $background: url()

//$background: url()


@mixin red-button
  font-size: 1.7em
  padding: 15px 10px
  width: 80%
  background-color: $primary
  color: $alpha

body
  background: $omega $background top center no-repeat
  font-family: helvetica, arial, sans-serif
  color: $alpha

.button
  font-family: 'atrament-web'
  
strong
  color: inherit
  
a, a:link, a:active, a:visited
  color: $alpha
  text-decoration: none
  
a:visited
  color: $alpha
  
  
a:hover
  color: $primary

a.button
  font-size: 1.3em

a.button.large
  @include red-button
a.button.medium
  font-size: 1.6em
a.button.small
  font-size: 0.7em

table
  font-size: 1.3em
  width: 100%
  
  thead
    td
      font-weight: strong !important
      font-family: 'atrament-web'
      text-transform: uppercase
      font-weight: 1.5em
      
  td
    padding: 10px
    vertical-align: middle
    border: 1px solid transparentize( $alpha, .8)
  
.hide
  display: none
h1, h2, h3, h4, h5
  color: $alpha
  font-family: "atrament-web", Helvetica
  font-weight: normal
  letter-spacing: -1px
  text-transform: uppercase

#wrap
  background-color: transparentize($omega, .3)
  max-width: 1000px
  margin: 0 auto
  
.container
  //background-color: transparentize($omega, .3)
  
#header
  
  margin: 20px 0
  border-bottom: 1px solid #333
  
  #logo
    margin-top: 20px
    background: $logo no-repeat
    height: 100px
  #social_links
    padding-top: 20px
    
    

#mid
  margin: 20px 0
  border-bottom: 1px solid #333
  display: none
  
#svg_wrap
  background:
    color: transparentize($alpha, .5)
    repeat: no-repeat
    position: 0 0
  width:  100%
  height:  755px

.float
  &.left
    float: left
    display: block
  
  &.right
    float: right
    display: block

.align
  &.left
    text-align: left
  
  &.right
    text-align: right

  
#sidenav
  ul
    margin: 0
    li
      margin: 0
      font-size: 1.5em
      line-height: 1.0em
      letter-spacing: -1px
      text-align: right
      
      
        
#canvas
  width:  100%
  height:  100%
  background-color: transparent
  margin: 0 auto



.small
  font-size: .8em
  color: $alpha / 2

ul#selected_seats
  margin: 0
  padding: 0
  height: 90px
  margin-bottom: 10px
  li
    list-style:  none
    display:  inline-block
    float: left
    margin-right: 10px
    width: 90px
    height: 75px
    background-color:  #eee
    border:  1px solid #ccc
    overflow:  hidden
    font-size:  13px
    text-align:  center
    padding-top:  15px
    
    &.active
      background-color:  #7b3f2c
      color:  $alpha
      
ul.stacked_list, #event_detail_cart ul
  li
    list-style:  none
    display:  block
    background-color:  transparentize($tertiary, .5) 
    border-radius: 5px
    padding:  0
    color:  $alpha
    padding:  10px 4px
    height: 40px
    font-size: 15px
  .ticketText
    .area
      text-transform: uppercase
      color: #ccc
      font-size: .7em
    
    .label
      font-weight: bold
    .price
      font-weight: bold
      
  .close
    a
      text-decoration: none
      font-size: 1.5em
      margin-top: 5px
      display: block
      opacity: .3
      &:hover
        color: $alpha
        opacity: 1
  .clock
    color: #ccc

.event-item
  height: 200px
  margin-bottom: 20px
  background-repeat: no-repeat
  background-size: 100% 100%
  a
    text-decoration: none
  &:hover
    cursor: pointer
    opacity: 1
    .info
      border-bottom: 3px solid #fff
      
  .info
    height: 60px
    border-bottom: 3px solid #666
    padding: 10px
    background-color: black
    display: block
    position: relative
    @include transition( padding-top 0.1s)
    @include transition( top 0.1s)
      
    top: 140px
    .title
      font-weight: bold
    .headline
      font-size: .7em
      color: #ddd
    .date
      color:  #ccc
      
    
  &:hover
    .info
      top: 100px
      @include transition( padding-top 0.1s)
      @include transition( top 0.1s)
      
.light
  color:  #ccc
  
  
  
.event_details
  .infobar
    display: inline-block
    background-color: rgba(255,255,255,.1)
    padding: 20px 0
    margin: 10px 0
    color: $alpha
    .times
      font-size: 1.2em
    .prices
      h4
        font-size: 2.5em
    
    

    .buy
    
  .feature-img
    border: 3px solid rgba(255,255,255,.5)
    margin-left: 10px
      
  a.button.buy_tix, 
    @include red-button
    
.event_chart

ul.event_cart
  li
    list-style:  none
    display:  block
    background-color:  rgba(100,200,255,.5)
    border-radius: 5px
    padding:  0
    color:  $alpha
    padding:  10px 4px
    // height: 51px
    font-size: 1em

    .ticketText
    .area
      text-transform: uppercase
      color: #ccc
      font-size: .7em

    .label
      font-weight: bold
    .price
      font-weight: bold

    .close
      font-size: 10px//1.0em
    a
      text-decoration: none
      font-size: 2.0em
      margin-top: 5px
      display: block
      opacity: .3
      &:hover
        color: $alpha
        opacity: 1
    .clock
    color: #ccc


.artists_list

  input.search
    font-size: 3em

  .artist
    border-bottom: 1px solid $alpha
    display: inline-block
    border-radius: 10px
    font-size: 1.1em
        
    &:hover
    
      color: $omega
      background-color: transparentize($alpha, .5)
      cursor: pointer !important
      & a
        color: $primary
      
a.button
  color: black

a

.loading
  text-align:  center
  margin:  0 auto

#main 
  border:  5px solid red
  
.m-controlbar
  background-color: $alpha
  background-color: rgba(255,255,255,.1)
  padding: 20px 5px 0
  border-radius: 5px
  
    
  li  
    list-style:  none
    display:  inline
    
  .button
    text-decoration: uppercase
    font-size: 1.5em
    
  input[type=text]
    display:  inline
    font-size: 1.1em
    
.stats
  & > div
    border-radius: 5px
    background-color: rgba(255,255,255,.1)
    h1, h2, h3, h4, h5
      padding: 5px
    
    