.widget
  .widget-header
    %h3 Business Days
  .widget-content
    %span.badge=link_to 'Day', '#'
    %span.badge=link_to 'Wk', '#'
    %span.badge=link_to 'Mon', '#'

    %hr/

    - 0.upto(30).each do |i|
      -day = Time.zone.today - i
      =link_to "#{day} (#{@current_account.orders.purchased_on_date(day.to_s).count}, #{number_to_currency(@current_account.orders.purchased_on_date(day.to_s).sum('total'))})", "/manager/reports/sales_over_time?day=#{day}"
      %br/