.widget{:style => 'margin-bottom: 0'}
  .widget-content
    =link_to 'Sales', "/manager/reports/event_sales/#{event.id}", :class => 'btn'
    =link_to 'Checkin', "/manager/reports/checkin/#{event.id}", :class => 'btn'
    =link_to 'Edit', edit_event_path(event), :class => 'btn'
    =link_to 'Preview', front_event_path(event), :class => 'btn'
    =link_to 'Totals', "/manager/reports/event_totals/", :class => 'btn'
