      
.widget-header
  %h3 Totals by Event
.widget-content

  %table.table#event_totals
    -uniq_events = Set.new
    -@events.each do |event|
      %tr{:style => (event[:day_of] ? '' : 'border-top: 10px solid #ddd')}
        -unless uniq_events.include?(event[:event_id])
          -uniq_events.add(event[:event_id])
        
          %td
            =link_to event[:event_title], "/manager/reports/event_sales/#{event[:event_id]}"
            %br/
            =event[:event_starts_at].to_formatted_s(:jammin_java)
        -else
          %td
        %td=event[:day_of] ? 'Day Of' : 'Presale'
        %td=number_to_currency event[:total_base_price], :precision => 0
        %td=number_to_currency event[:total_service_charge], :precision => 0
        %td=number_to_currency event[:total], :precision => 0
        %td="#{event[:tickets_checked_in]}/#{event[:tickets_sold]}"
          