.row
  .span2
    - 1.upto(30).each do |i|
      -day = Time.zone.today - i
      =link_to day, "/manager/reports/sales_over_time?day=#{day}"
      %br/

  .span10
    -@events.each do |event|
      .row
        .span4
          %h3= event.title
          =event.starts_at.to_formatted_s(:jammin_java)
          %br/
          %br/
        .span1
          %h1=event.tickets.complete.count
        .span1
          %h1=event.tickets.checked_in.count
        .span2
          -if event.tickets.count > 0
            =link_to 'Guestlist', "/manager/reports/event_guestlist/#{event.id}"
            |
            =link_to 'Sales', "/manager/reports/event_sales/#{event.id}"
            |
          =link_to 'Edit', edit_event_path(event)
          |
          =link_to 'View', front_event_path(event)
        
          