.widget
  .widget-content
    
    %ul.nav.nav-list.affix
      
      %li 
        %a.active{:href => '/manager/reports'}
          Overview
      
      %li 
        %a.active{:href => '/manager/reports/event_totals'}
          Events
        
      %li 
        %a{:href => '/manager/reports/sales_over_time'}
          Time
      %li 
        %a{:href => '/manager/reports/most_valuable_customers'}
          Customers