!!! 5
%html
  %head
    %style
      
      @page { size: Letter }
      @page { margin: 0px }
      @page { border: none }
      @page { padding: 0px }
      @page { prince-shrink-to-fit: auto }
      
  %body
    =yield
    
    