-content_for :content do
  .row
    .span2
      .widget
        .widget-content
          
          %ul.nav.nav-list.affix
            
            %li 
              %a.active{:href => '/manager/reports'}
                %i.icon-chevron-right
                Overview
            
            %li 
              %a.active{:href => '/manager/reports/event_sales'}
                %i.icon-chevron-right
                Events
              
            %li 
              %a{:href => '/manager/reports/sales_over_time'}
                %i.icon-chevron-right
                Time
              
            %li 
              %a{:href => '/manager/reports/checkin'}
                %i.icon-chevron-right
                Checkin
            
            %li 
              %a{:href => '/manager/reports/most_valuable_customers'}
                %i.icon-chevron-right
                Customers

    =yield
=render :template => 'layouts/manager'
