-content_for :content do
  .row
    .span3
      =render :template => 'reports/reports_nav'

      =render :partial => 'event_menu', :locals => {:action => params[:action]}

    .span9
      -unless @event.nil?
        =render :partial => 'reports/event_nav', :locals => {:event => @event }
        
      =yield

=render :template => 'layouts/manager'