!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Dashboard - Base Admin
      %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
      =stylesheet_link_tag 'manager'
      / Le HTML5 shim, for IE6-8 support of HTML5 elements
      /[if lt IE 9]
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-barC
            %span.icon-bar
          %a.brand{:href => "./"}
            Tix - Jammin Java
          .nav-collapse
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-cog
                  Settings
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "javascript:;"} Account Settings
                  %li
                    %a{:href => "javascript:;"} Privacy Settings
                  %li.divider
                  %li
                    %a{:href => "javascript:;"} Help
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                  Daniel Brindley
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "javascript:;"} My Profile
                  %li
                    %a{:href => "javascript:;"} My Groups
                  %li.divider
                  %li
                    %a{:href => "javascript:;"} Logout
            %form.navbar-search.pull-right
              %input.search-query{:placeholder => "Search", :type => "text"}
          / /.nav-collapse
        / /container
      / /navbar-inner
    / /navbar
    .subnavbar
      .subnavbar-inner
        .container
          %ul.mainnav
            %li
              %a{:href => "/manager/"}
                %i.icon-home
                %span Dash
            %li
              %a{:href => '/manager/customers'}
                %i.icon-pushpin
                %span Customers
            %li
              %a.dropdown-toggle{:href => "/manager/events"}
                %i.icon-th-large
                %span Events
            %li
              %a{:href => "/manager/reports"}
                %i.icon-bar-chart
                %span Reports
            %li
              %a{:href => "/manager/artists"}
                %i.icon-bar-chart
                %span Artists
            %li
              %a{:href => "/manager/orders"}
                %i.icon-facetime-video
                %span Orders
   
        
            %li
              %a{:href => "/manager/newsletters"}
                %i.icon-facetime-video
                %span Newsletters
                
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
                %i.icon-share-alt
                %span More Pages
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "/manager/charts"} Charts
                %li
                  %a{:href => "/manager/ticket_templates"} Ticket Templates
                %li.divider
                %li
                  %a{:href => "./login.html"} Login
                %li
                  %a{:href => "./signup.html"} Signup
                %li
                  %a{:href => "./error.html"} Error
        / /container
      / /subnavbar-inner
    / /subnavbar
    .main
      .main-inner
        .container
          -if flash[:error]
            .alert.alert-block.alert-error.fade.in=flash[:error]
          -if flash[:notice]
            .alert.alert-block.fade.in=flash[:notice]
            
          =yield
            
          
          / /row
        / /container
      / /main-inner
    / /main
    .extra
      .extra-inner
        .container
          .row
            .span3
              %h4 About
              %ul
                %li
                  %a{:href => "javascript:;"} About Us
                %li
                  %a{:href => "javascript:;"} Twitter
                %li
                  %a{:href => "javascript:;"} Facebook
                %li
                  %a{:href => "javascript:;"} Google+
            / /span3
            .span3
              %h4 Support
              %ul
                %li
                  %a{:href => "javascript:;"} Frequently Asked Questions
                %li
                  %a{:href => "javascript:;"} Ask a Question
                %li
                  %a{:href => "javascript:;"} Video Tutorial
                %li
                  %a{:href => "javascript:;"} Feedback
            / /span3
            .span3
              %h4 Legal
              %ul
                %li
                  %a{:href => "javascript:;"} License
                %li
                  %a{:href => "javascript:;"} Terms of Use
                %li
                  %a{:href => "javascript:;"} Privacy Policy
                %li
                  %a{:href => "javascript:;"} Security
            / /span3
            .span3
              %h4 Settings
              %ul
                %li
                  %a{:href => "javascript:;"} Consectetur adipisicing
                %li
                  %a{:href => "javascript:;"} Eiusmod tempor
                %li
                  %a{:href => "javascript:;"} Fugiat nulla pariatur
                %li
                  %a{:href => "javascript:;"} Officia deserunt
            / /span3
          / /row
        / /container
      / /extra-inner
    / /extra
    .footer
      .footer-inner
        .container
          .row
            .span12
              \© 2012
              = succeed "." do
                %a{:href => "http://squiid.com"} Squiid
            / /span12
          / /row
        / /container
      / /footer-inner
    / /footer
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    -#%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"}
    =javascript_include_tag 'manager'
    :javascript
      $(function(){ TixMgr.init(); });
    