-content_for :layout do 
  -if content_for? :content_twelve do
    .row
      .span12
        =yield :content_twelve
  .row
    .span3
      .layout-sidebar
        =yield :sidebar
        
    .span9
      .layout-content
        =yield :content_nine
    
    
=render :template => 'layouts/application'