-content_for :layout do 
  .row
  
    
    .span3
      .layout-sidebar
        =yield :sidebar
        
    .span9
      .layout-content
        =yield :content_nine
        =yield :content

        
    
=render :template => 'layouts/application'