%table
  %thead
    %th Subdomain
    %th # Customers
    %th # Users
  -@accounts.each do |account|
    %tr
      %td=account.subdomain
      %td=account.users.with_role(:customer).count
      %td=account.users.with_role(:user).count