.col.g6
  %h1 Account
  
.col.g5
  %h4 Subdomain
  %h3{:contenteditable => 'true'}=@current_account.subdomain + '.thintix.com'
  

.col.g5
  %h4 Billing Address
  227 Maple Ave E Vienna
  <br/>
  VA 22180
  
  %h4 Last Invoice
  8/1/2012
  

.col.g5
  %h2 Some
